.quotation {
    padding-top: 97px;
    padding-bottom: 97px;


    
    @include match(mobile) {
    }
    @include match(tablet) {
        padding-top: 171px;
        padding-bottom: 171px;
    }
    @include match(desktop) {
        padding-top: 147px;
        padding-bottom: 147px;
    }
    background: url("/src/images/quotation-pattern.jpg");
    background-size: cover;
    background-position: center;

    &__container {
        display: block;
        justify-content: center;
    }

    &__header {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 105%; /* 50.4px */
        letter-spacing: -1.2px;
        color: white;

        @include match(mobile) {
            font-family: Poppins;
            font-size: 24px;
            line-height: 105%; /* 25.2px */
            letter-spacing: -1.2px;
        }
        @include match(tablet) {
            font-family: Poppins;
            font-size: 40px;
            line-height: 105%; /* 42px */
            letter-spacing: -2px;
        }
        @include match(desktop) {
            text-align: start;
            font-family: Poppins;
            font-size: 48px;
            line-height: 105%; /* 50.4px */
            letter-spacing: -2.4px;
        }
    }

    &__text {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 105%; /* 25.2px */
        letter-spacing: -1.2px;
        color: white;

        @include match(mobile) {
            text-align: center;
            font-family: Poppins;
            font-size: 24px;
            font-style: italic;
            font-weight: 700;
            line-height: 105%; /* 25.2px */
            letter-spacing: -1.2px;
        }
        @include match(tablet) {
            text-align: center;
            font-family: Poppins;
            font-size: 40px;
            font-style: italic;
            font-weight: 700;
            line-height: 105%; /* 42px */
            letter-spacing: -2px;
        }
        @include match(desktop) {
            padding-left: 218.5px;
            padding-right: 218.5px;
            text-align: start;
            font-family: Poppins;
            font-size: 48px;
            font-style: italic;
            font-weight: 700;
            line-height: 105%; /* 50.4px */
            letter-spacing: -2.4px;
        }
    }

    &__icon-container {
        display: flex;
        justify-content: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        width: 72px;
        height: 86px;
    }
}