.footer {
    background-color: var(--download-color);
    position: relative;
    padding-bottom: 47px;

    &::after {
        display: block;
        width: 100%;
        content: '';
        border: 1px solid var(--main-border-color);
    }

    &__container {
        position: relative;
    }

    &__image {
        position: absolute;
        top: -217px;
        left: -33px;
    }

    &__thanks {
        width: 100%;
        top: -85px;
        position: absolute;
        padding-top: 68px;
        padding-right: 219px;
        padding-left: 298px;
        padding-bottom: 68px;
        background-color: var(--thanks-background-color);
        border-radius: 15px;
        display: flex;
        gap: 50px;
        height: 180px;
    }

    &__frame-35 {
        position: absolute;
        width: 150px;
        height: 125px;
        top: 0px;
        left: 1388px;
    }

    &__text {
        font-family: Montserrat;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 22px */
        letter-spacing: -1.1px;
        color: white;
    }

    &__nav-menu {
        padding-top: 146px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 60px;
        height: 60px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__nav-link {
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 20px */
        letter-spacing: -1px;
        color: white;

        &:hover,
        &:focus {
            transition: color 0.3s;
            color: var(--navigation-dark-button-focus);
        }
    }
}