.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;

    @include match(tablet) {
        justify-content: start;
    }

    &__text {
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 20px */
    }

    .footer-text {
        color: white;
        font-family: Poppins;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 45px */
    }

    &--gap {
        gap: 11.25px;
    }
}