:root {
    --background-primary-color: #000000;
    --primary-color: #FFFFFF;
    --theme-button-dark: #FFEC70;
    --contact-button-color: #925FF0;
    --download-color: #292929;
    --secondary-background-color: #0B0B0B;
    --secondary-border-color: #646464;
    --stats-color: #C8FEC7;
    --tag-border-color: #BE9FF6;
    --tag-background-color: #E9DFFC;
    --tag-text-color: #784DC7;
    --main-border-color: #E6E6E6;
    --thanks-background-color: #A87FF3;
    --social-border-color: #FFFFFF;
    --navigation-light-button: #292929;
    --navigation-dark-button-focus: #FFEC70;
    --hero-link: #925FF0;
    --theme-btn-dark: #FFEC70;
    --contact-btn-color: #FFFFFF;
};