body {
    background-color: var(--background-primary-color);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal; 
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
    // font-family: 'Montserrat', sans-serif;
    // line-height: 1;
    // font-weight: 400;
    // font-size: 20px;
    // letter-spacing: -1px;

    @include match(mobile) {
        overflow-x: hidden;
    }
}



.dark-theme {
    --background-primary-color: #FFFFFF;
    --primary-color: #292929;
    --theme-button-dark: #292929;
    --contact-button-color: #292929;
    --download-color: #292929;
    --secondary-background-color: #F6FFF6;
    --secondary-border-color: #000000;
    --stats-color: #64C661;
    --tag-border-color: #BE9FF6;
    --tag-background-color: #E9DFFC;
    --tag-text-color: #784DC7;
    --main-border-color: #E6E6E6;
    --thanks-background-color: #A87FF3;
    --social-border-color: #E6E6E6;
    --hero-link: #FFEC70;
}