a {
    color: inherit;
    text-decoration: none;
}

button {
    border: 0px;
    border-radius: 4px;
}

h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container-top {
    margin: 0 auto;

    @media screen and (min-width: 430px) {
        max-width: 430px;
    }

    @media screen and (min-width: 1024px) {
        max-width: 1024px;
    }

    @media screen and (min-width: 1538px) {
        max-width: 1538px;  
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }