.quotation {
    padding-top: 147px;
    padding-bottom: 147px;
    background: url("../images/image3.jpg");
    background-size: cover;
    background-position: center;

    &__container {
        display: block;
        justify-content: center;
    }

    &__header {
        display: flex;
        justify-content: center;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 105%; /* 50.4px */
        letter-spacing: -2.4px;
        color: getColor(primary-color)
    }

    &__text {
        margin-top: 60px;
        margin-bottom: 60px;
        padding-left: 218.5px;
        padding-right: 218.5px;
        font-family: Poppins;
        font-size: 48px;
        font-style: italic;
        font-weight: 700;
        line-height: 105%; /* 50.4px */
        letter-spacing: -2.4px;
        color: getColor(primary-color)
    }

    &__icon-container {
        display: flex;
        justify-content: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        width: 72px;
        height: 86px;
    }
}